<button class="choice-button" @onclick="@TriggerPlanet"><img src="/images/Games/planet.png" class="choice-button-image" /></button>
<button class="choice-button" @onclick="@TriggerSpaceCraft"><img src="/images/Games/spacecraft.png" class="choice-button-image" /></button>
<button class="choice-button" @onclick="@TriggerDebris"><img src="/images/Games/debris.png" class="choice-button-image" /></button>