@page "/pdcgame"

<div class="container">
    <div class="row justify-content-md-center">
        <h1 id="game-title">Planets, Debris, SpaceCraft!</h1>
    </div>
    <hr />
    <div class="row justify-content-md-center game-area">
        @switch (State)
        {
            case GameState.MakeChoice:
                {
                    <StageChooseTurn OnClickChoice="() => OnSelectionMadeClicked(new Selection())"></StageChooseTurn>
                    break;
                }
            case GameState.WaitForResult:
                {
                    <StageWaitingForResult />
                    break;
                }
            case GameState.ResultMet:
                {
                    <StageResult Player1Choice="PlayerSelection" Player2Choice="BotSelection" WinningPlayerId="WinningPlayerId" NewRound="StartNewGame" />
                    break;
                }
        }
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4 text-center">
            <PlayerName Name="You" />
        </div>
        <div class="col col-md-2 text-center my-auto">
        </div>
        <div class="col col-lg-4 text-center">
            <PlayerName Name="Deepmind AI" />
        </div>
    </div>
</div>