@page "/spacecrafts"

<div class="container">
    <h1>Orbital - Spacecrafts</h1>

    <hr />
    @if (currentSpaceItem == null)
    {
        <SpaceItemListCarousel SpaceItems="SpaceItems">
        </SpaceItemListCarousel>
        <hr />
        <div>
            <h2>All current registered spacecrafts</h2>
        </div>
        <SpaceItemsTable SpaceItems="SpaceItems"
                         OnInfoClick="ShowInfoOfItem"
                         OnFavoriteClick="AddToCurrentUserFavorites">
        </SpaceItemsTable>
    }
    else if (currentSpaceItem.IsUpdateClicked ?? false)
    {
        <SpaceItemEditForm ItemToEdit="currentSpaceItem"
                           OnCancelClick="CancelEditor"
                           OnSaveClick="SaveEditor">
        </SpaceItemEditForm>
    }
    else
    {
        <SpaceItemListCarousel SpaceItems="new BaseSpaceItem<Guid>[] { currentSpaceItem}">
        </SpaceItemListCarousel>
        <hr />
        <div>
            <h2>Selected spacecraft: @currentSpaceItem.Name</h2>
        </div>
        <hr />
        <SpaceItemOptionsSection CurrentSpaceItem="currentSpaceItem"
                                 OnUpdateClick="UpdateCurrentSpaceItem"
                                 OnDeleteClick="DeleteCurrentSpaceItem">
        </SpaceItemOptionsSection>
        <hr />
        <SpaceItemDetailed CurrentSpaceItem="currentSpaceItem">
        </SpaceItemDetailed>
    }
</div>